body {
    overflow-y : scroll;
}
.cart_inform {
    width : 1180px;
    margin : 0 auto;
    margin-top : 140px;
}
.cart_1 {
    height : 93px;
}
.cart_title {
    float : left;
    font-weight : bold;
}
.cart_step {
    float : right;
    overflow : hidden;
}
.cart_step > div {
    float : left;
}
.cart_step_img {
    width : 64px;
    height : 64px;
    background : url('../img/cart_ico.png') no-repeat;
    background-size : 800px 800px;
}
.cart_step1 { font-weight : bold; }
.cart_step_img1 { background-position : 0 -74px; margin : 0 auto; margin-bottom : 10px; }
.cart_step_img2 { background-position : -74px 0; margin : 0 auto; margin-bottom : 10px; }
.cart_step_img3 { background-position : -148px 0; margin : 0 auto; margin-bottom : 10px; }
.cart_step2, .cart_step3 {
    color : #606060;
    margin-left : 30px;
}
.cart_2 {
    margin : 40px 0 60px;
    border : 1px solid #ccc;
    padding : 19px 31px;
    color : #606060;
    font-weight : bold;
    overflow : hidden;
}
.cart_2_text {
    float : left;
    line-height : 48px;
}
.cart_login {
    display : block;
    width : 240px;
    height : 48px;
    background : #bdd61a;
    text-align : center;
    color : black;
    float : right;
    line-height : 48px;
    cursor : pointer;
}
.cart_counting {
    font-weight : bold;
}
.cart_remove_all, .cart_remove_soldout {
    margin-left : 15px;
    border : 1px solid #ccc;
    padding : 5px 10px;
    color : #606060;
    font-weight : bold;
    cursor : pointer;
}
.cart_3_wrap {
    border-top : 2px solid black;
    margin-top : 20px;
    padding-top : 40px;
}
.cart_date {
    border : 1px solid #ccc;
    margin-bottom : 56px;
}
.cart_date_title_wrap {
    border-bottom : 1px solid #ccc;
    padding : 20px 30px;
    font-weight : bold;
}
.cart_date_desc {
    background : #f7f7f7;
    text-align : center;
}
.cart_date_top {
    padding : 20px 0;
    font-weight : bold;
}
.buy_more_freedeliver {
    padding-top : 20px;
}
/* cart_date_item */
.cart_date_item {
    position : relative;
    overflow : hidden;
    margin : 20px 0;
    padding : 0 30px;
}
.cart_soldout_bg {
    position : absolute;
    width : 100%;
    height : 100%;
    left : 0;
    top : 0;
    background : rgba(0,0,0,0.4);
    text-align : center;
    line-height : 80px;
    color : white;
    font-weight : bold;
    z-index : 1;
    letter-spacing : 10px;
}
.cart_date_item > div {
    float : left;
}
.cart_date_item_img {
    width : 80px;
    height : 80px;
}
.cart_date_item_img img {
    display : block;
    width : 100%;
    height : 100%;
    cursor : pointer;
}
.cart_date_item_desc {
    width : 700px;
    margin-left : 30px;
    cursor : pointer;
}
.cart_date_item_name {
    padding-top : 10px;
    padding-bottom : 5px;
}
.cart_date_item_name, .cart_date_item_price {
    font-weight : bold;
}
.cart_original_price {
    color : #606060;
    text-decoration : line-through;
    margin-left : 5px;
}
.cart_date_item_count {
    border : 1px solid #ccc;
    margin-top : 25px;
}
.cart_date_item_count > div {
    float : left;
}
.cart_date_item_minus, .cart_date_item_plus {
    width : 30px;
    height : 30px;
    background : url('../img/ico_group.png') no-repeat;
    background-size : 800px 800px;
    cursor : pointer;
}
.cart_date_item_ea {
    width : 40px;
    height : 30px;
    border-left : 1px solid #ccc;
    border-right : 1px solid #ccc;
    text-align : center;
    line-height : 30px;
    color : black;
    font-weight : bold;
}
.cart_date_item_minus { background-position : -264px -38px; }
.cart_date_item_plus { background-position : -296px -38px; }
.cart_date_item_totalprice {
    font-weight : bold;
    margin-top : 27px;
    margin-left : 40px;
}
.cart_date_item_remove {
    width : 16px;
    height : 16px;
    background : url('../img/ico_group.png') no-repeat;
    background-size : 800px 800px;
    background-position : -316px 8px;
    cursor : pointer;
    padding : 16px;
    margin-top : 25px;
    margin-left : 30px;
}
.count_date_add, .count_date_equal {
    display : inline-block;
    width : 16px;
    height : 16px;
    background : url('../img/cart_ico.png') no-repeat;
    background-size : 800px 800px;
}
.count_date_add { background-position : -256px -34px; }
.count_date_equal { background-position : -286px -34px; }
.buy_more_freedeliver {
    color : #0379A6;
}
/* empty */
.empty {
    padding-top : 80px;
}
.empty > div {
    margin : 0 auto;
    text-align : center;
    font-weight : bold;
    letter-spacing : -2px;
}
.empty_img {
    width : 80px;
    height : 80px;
    background : url('../img/ico_group.png');
    background-size : 800px 800px;
    background-position : 0 -100px;
}
.empty_txt1 {
    padding-top : 20px;
}
.empty_txt2 {
    padding-top : 10px;
    color : #606060;
}
.empty_txt3 {
    padding-top : 50px;
}
.empty_txt3_go_menu {
    border : 1px solid #ccc;
    padding : 10px;
    cursor : pointer;
}
.empty_go_btn {
    display : inline-block;
    width : 10px;
    height : 10px;
    border-right : 1px solid black;
    border-bottom : 1px solid black;
    transform : rotate(-45deg);
    margin-left : 5px;
    margin-bottom : 2px;
}
/* cart_3_final */
.cart_3_final {
    overflow : hidden;
    margin : 56px 0;
    padding : 33px 0 34px;
    padding-left : 16px;
    border-top : 1px solid black;
    border-bottom : 1px solid #ccc;
}
.cart_3_final > div {
    float : left;
    text-align : center;
    font-weight : bold;
}
.cart_3_final_label {
    margin-bottom : 5px;
}
.cart_3_final_1, .cart_3_final_2, .cart_3_final_3 {
    width : 236px;
    height : 79px;
}
.cart_3_final_4 {
    width : 266px;
    height : 79px;
}
.cart_3_final_4_content {
    color : red;
}
.cart_3_final_math {
    width : 24px;
    height : 24px;
    background : url('../img/cart_ico.png') no-repeat;
    background-size : 800px 800px;
    margin : 24px 12px 0;
}
.cart_3_final_minus { background-position : -226px 0; }
.cart_3_final_plus { background-position : -256px 0; }
.cart_3_final_equal { background-position : -286px 0; }
/* cart_3_order_btn */
.cart_3_order_btn {
    margin-top : 56px;
}
.order_btn_wrap {
    text-align : center;
    margin : 0 auto;
}
.order_btn_wrap > div {
    display : inline-block;
    width : 240px;
    height : 56px;
    text-align : center;
    font-weight : bold;
    cursor : pointer;
    line-height : 56px;
    margin : 0 5px;
    border : 1px solid black;
}
.order_btn_wrap .all_order {
    border : 0;
    background : #bdd61a;
}